<!DOCTYPE html>

<!--
 // WEBSITE: 
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>{{ title }}</title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Creative Portfolio Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="fido1hn">


    <!-- theme meta -->
    <meta name="theme-name" content="kross" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/images/icons/icons8-code-48.png' | url }}" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ '/plugins/bootstrap/bootstrap.min.css' | url }}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{{ '/plugins/slick/slick.css' | url }}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{{ '/plugins/themify-icons/themify-icons.css' | url }}">

    <!-- Main Stylesheet -->
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet">

</head>

<body>
    <header class="navigation fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand font-tertiary h3" href="{{ '/index' | url }}"><img
                    src="{{ '/images/icons/icons8-code-48-white.png' | url }}" alt="Myself"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ '/index' | url }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/about/' | url }}">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/blog/' | url }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/portfolio/' | url }}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ '/contact/' | url }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {{ content | safe }}

    <!-- contact -->
    <section class="section section-on-footer" data-background="{{ '/images/backgrounds/bg-dots.png' | url }}">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="section-title">Get in Touch! &#x1F44D;</h3>
                </div>
                <div class="col-lg-8 mx-auto">
                    <div class="bg-white rounded text-center p-5 shadow-down">
                        <h4 class="mb-80">Contact Form</h4>
                        <form action="https://formspree.io/f/xnqkzzle" method="POST" class="row">
                            <div class="col-md-6">
                                <input type="text" id="name" name="name" placeholder="Full Name"
                                    class="form-control px-0 mb-4" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" id="email" name="email" placeholder="Email Address"
                                    class="form-control px-0 mb-4" required>
                            </div>
                            <div class="col-12">
                                <textarea name="message" id="message" class="form-control px-0 mb-4"
                                    placeholder="Type Message Here" required></textarea>
                            </div>
                            <div class="col-lg-6 col-10 mx-auto">
                                <button class="btn btn-primary w-100">send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /contact -->

    <!-- footer -->
    <footer class="bg-dark footer-section">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5 class="text-light">Email</h5>
                        <p class="text-white paragraph-lg font-secondary">confidoekeanya@gmail.com</p>
                    </div>
                    <!-- <div class="col-md-4">
            <h5 class="text-light">Phone</h5>
            <p class="text-white paragraph-lg font-secondary">+880 2544 658 256</p>
          </div> -->
                    <div class="col-md-4">
                        <h5 class="text-light">Address</h5>
                        <p class="text-white paragraph-lg font-secondary">Lagos, NG</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top text-center border-dark py-5">
            <p class="mb-0 text-light">Copyright &copy;
                <script>
                    var CurrentYear = new Date().getFullYear()
                    document.write(CurrentYear)
                </script> Designed &amp; Developed by <a class="text-white-50" href="#">Themefisher</a>
            </p>
        </div>
    </footer>
    <!-- /footer -->

    <!-- jQuery -->
    <script src="{{ '/plugins/jQuery/jquery.min.js' | url }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ '/plugins/bootstrap/bootstrap.min.js' | url }}"></script>
    <!-- slick slider -->
    <script src="{{ '/plugins/slick/slick.min.js' | url }}"></script>
    <!-- filter -->
    <script src="{{ '/plugins/shuffle/shuffle.min.js' | url }}"></script>

    <!-- Main Script -->
    <script src="{{ '/js/script.js' | url }}"></script>

</body>

</html>